<!--
# adminDashboard.html
This file creates the Admin Dashboard interface for managing doctor-related data with
search, filter, and modal functionality.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../../static/assets/images/logo/logo.png" />
    <link rel="icon" type="image/png" th:href="@{../../static/assets/images/logo/logo.png}" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../../static/assets/css/style.css" />
    <link rel="stylesheet" href="../../static/assets/css/adminDashboard.css" />

    <link rel="stylesheet" th:href="@{../../assets/css/style.css}">
    <link rel="stylesheet" th:href="@{../../assets/css/adminDashboard.css}">
    <script th:src="@{./js/util.js}" defer></script>
    <script th:src="@{./js/render.js}" defer></script>
    <script th:src="@{./js/components/header.js}" defer></script>
    <script th:src="@{./js/components/footer.js}" defer></script>

    <script src="../../static/js/util.js" defer></script>
    <script src="../../static/js/render.js" defer></script>
    <script src="../../static/js/components/header.js" defer></script>
    <script src="../../static/js/components/footer.js" defer></script>

</head>
<!-- Start the visible part of the webpage. `onload="renderContent()"` is used to call a function when the page is ready. -->
<body onload="renderContent()">
    <div class="container">
        <div class="wrapper">
            <div id="headerDiv"></div>
            <main class="main-content">
                <input id="searchBar" class="searchBar" type="text" placeholder="Search..">
                <select id="searchTimeSelect" >Select Time</select>
                <select id="searchSpecialtySelect" >Select Specialty</select>
                <div id="mainContentDiv"></div>
            </main>
            <div id="footerDiv"></div>
        </div>
    </div>
    <div id="modalDialogDiv" class="modal">
        <div id="modalDialogContainerDiv" class="modal">
            <span class="close" id="closeModal">&times;</span>
            <div id="modalDialogBodyDiv" class="modal-content"></div>
        </div>
    </div>
    <script type="module" th:src="@{../../static/js/adminDashboard.js}" defer></script>
    <script type="module" th:src="@{../../static/js/components/doctorCard.js}" defer></script>
    <script type="module" src="../../static/js/adminDashboard.js" defer></script>
    <script type="module" src="../../static/js/components/doctorCard.js" defer></script>
</body>