
<!--
# doctorDashboard.html
This file defines the Doctor Dashboard interface, allowing doctors to view and manage
their patient appointments, search records, and access patient prescriptions.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../../static/assets/images/logo/logo.png" />
    <link rel="icon" type="image/png" th:href="@{../../static/assets/images/logo/logo.png}" />
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" href="../../static/assets/css/style.css" />
    <link rel="stylesheet" href="../../static/assets/css/adminDashboard.css" />
    <link rel="stylesheet" href="../../static/assets/css/doctorDashboard.css" />

    <link rel="stylesheet" th:href="@{../../assets/css/style.css}">
    <link rel="stylesheet" th:href="@{../../assets/css/adminDashboard.css}">
    <link rel="stylesheet" th:href="@{../../assets/css/doctorDashboard.css}">
    <script th:src="@{../../static/js/util.js}" defer></script>
    <script th:src="@{../../static/js/render.js}" defer></script>
    <script th:src="@{../../static/js/components/header.js}" defer></script>
    <script th:src="@{../../static/js/components/footer.js}" defer></script>
    <script th:src="@{../../static/js/doctorDashboard.js}" defer></script>

    <script src="../../static/js/util.js" defer></script>
    <script src="../../static/js/render.js" defer></script>
    <script src="../../static/js/components/header.js" defer></script>
    <script src="../../static/js/components/footer.js" defer></script>
    <script src="../../static/js/doctorDashboard.js" defer></script>
</head>
<body onload="renderContent()">
<div class="container">
    <div class="wrapper">
        <div id="headerDiv"></div>
        <main class="main-content">
            <input id="searchBar" class="searchBar" type="text" placeholder="Search Bar for custom output">
            <div class="filter-wrapper" style="">
                <select id="searchTimeSelect" class="filter-select" >
                    <option value="">Sort by Time</option>
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
                <select id="searchSpecialtySelect" class="filter-select" >
                    <option value="">Filter by Specialty</option>
                    <option value="Cardiologist">Cardiologist</option>
                    <option value="Dermatologist">Dermatologist</option>
                    <option value="Neurologist">Neurologist</option>
                    <option value="Pediatrician">Pediatrician</option>
                    <option value="Orthopedic">Orthopedic</option>
                    <option value="Gynecologist">Gynecologist</option>
                    <option value="Psychiatrist">Psychiatrist</option>
                    <option value="Dentist">Dentist</option>
                    <option value="Ophthalmologist">Ophthalmologist</option>
                    <option value="Ent">ENT Specialist</option>
                    <option value="Urologist">Urologist</option>
                    <option value="Oncologist">Oncologist</option>
                    <option value="Gastroenterologist">Gastroenterologist</option>
                    <option value="General">General Physician</option>
                </select>
                <button id="todayBtn" class="today-btn">Today's Appointments</button>
                <input type="date" id="datePicker" class="date-picker"></input>
            </div>
            <div id="mainContentDiv"></div>
            <table id="appointmentsTable">
                <thead class="table-header">
                    <tr>
                        <th>Patient ID</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Prescription</th>
                    </tr>
                </thead>
                <tbody id="appointmentsTableBody"></tbody>
            </table>
        </main>
        <div id="footerDiv"></div>
    </div>
</div>
</body>
