/*this is the style sheet for the adminDashboard. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    font-size: 32px;
    margin-bottom: 50px;
    color : #003e3e;
}

.main-content {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("../images/defineRole/defineRole.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button {
    background-color: #A62B1F;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
}

button:hover {
    background-color: #A62B1F;
}

.adminBtn {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
    width:110px;
    padding : 10px 0px;
    border: none
    cursor: pointer
}

.adminBtn:hover {
    color: #A62B1F;
    background-color: #f4f4f4;
}