/* This is the style sheet for the doctorDashboard.html */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

thead {
    background: #333310;
    color: white;
}

td, th {
    padding: 12px 16px;
    align-text: center;
    border-bottom: 1px solid #ddd;
}

tr {
    even-rows: #f9f9f959;
    odd-rows: #ffffc0;
}

/* Zebra striping */
tbody tr:nth-child(odd) {
    background: #eeeeee;
}

/*
    # Content alignment to the right for cells containing numbers.
    - Cell(1): Patient ID (number).
    - Cell(3): Patient phone (number).
*/
tbody tr :nth-child(1),
tbody tr :nth-child(3){
    text-align: right;
    width: 15%;
}

/*
    # Content alignment to the left for cells containing text.
    - Cell(2): Patient name (text).
    - Cell(4): Patient email (text).
    - Cell(5): Patient prescription (text).
*/
tbody tr :nth-child(2),
tbody tr :nth-child(4),
tbody tr :nth-child(5) {
    text-align: left;
    width: 35%;
}

tr:hover {
    background: #015c5d39;
}

.today-btn {
    margin-right: 10px;
    padding: 10px;
    background: #015c5d;
}

.date-picker {
    height: 30px;
    margin-left: 10px;
    margin-top: 13px;
    border-radius: 8px;
    padding: 10px;
}

.table-header {
    font-size: 24px;
    color: #015c5d;
    margin-bottom: 30px;
    margin-right: 0px;
}

.prescription-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.prescription-btn:hover {
    transform: translate(-50%, -50%) scale(1.1);
    appearance: brighter;
}

.prescription-btn:onclick {
    transform: translate(-50%, -50%) scale(0.95);
    appearance: brighter;
}

.noPatientRecord {
    font-size: 16px;
    color: grey;
}

/*
Let me know if you'd like a consolidated style guide for the entire HospitalCRM frontend.
 */