/* this is the style sheet file for index.html  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Include padding and border inside the element size. */
}

html, body {
    height: 100%;
    font-family: Roboto; /* 'Roboto'` sans-serif font for modern, clean typography. */
}

h2 {
    font-size: 48px; /* Large font size (`48px`) for prominence. */
    font-weight: bold;
    color: #003e3e; /* Dark teal color. */
    font-family: Alegreya; /*  Roboto; Blended font stack (sans-serif) for elegant styling. */
    margin-bottom: 50px;
}

button {
    width: 200px;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    color: #FFFFFF;
    background: #015c5d; /* Teal green. */
    pointer-cursor: "enable";
    cursor: pointer; /* Transforms the arrow cursor on a hand, when hover the button. */
}

button:hover {
    background: #A62B1F;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    border: red 1px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center; /* Align the items on the main axis (horizontally). */
    justify-content: center; /* Specifies how flex lines are distributed along the cross axis (vertically) */
    position: inherit;
    padding: 40px;
    background-image: url("../images/defineRole/index.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keep image fixed still during scroll, and No-repeat itself to fill gaps. */
}

.dashboard-btn {
    background: #015c5d; /* Teal green. */
    over-background-color: #003e3e; /* Dark deep teal. */
}